<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://use.fontawesome.com/d3d0fb16f2.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
</head>
<body>
    
<div class="container-fluid">
    <div class="menu" id="menu-button">
        <button type="button" id="menu"><i class="fa fa-bars" aria-hidden="true" id="ham"></i></button>
    </div>
    
    <div class="slide-menu" id="slide-menu">
        <ul>
            <li><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Contact', '/contact' %></li>
        </ul>
    </div>

    <%= yield %>

    <footer class="part5">
        <h3>A CODECADEMY PROJECT</h3>
    </footer>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script type="text/javascript">
    $(document).ready(function() {
        var header = $(".clearHeader");
        
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            
            if (scroll >= 620 && scroll <= 970) {
                $("#ham").addClass("black");
            } else {
                $("#ham").removeClass("black");
            }
        });
        
        $('#menu').click(function() {
            $('#slide-menu').toggleClass('left');
            $('#menu-button').toggleClass('replace');
        });
    });
</script>
</body>
</html>
